/* Dette er min CSS fil */
body {
font-family: Comic Sans MS;
background-color: #654321;
color: #CCCCCC;
margin: 0;
padding: 50px;
position: relative;
min-height: 2000px;
}

body {
font-size: 20px;
}

#header {
background: #8B4513;
padding: 50px;
text-align: center;
border: 10px solid black;
border-radius: 50px;
position: absolute;
top: 50px;
left: 200px;
z-index: 10;
}

#header {
padding: 30px;
}

h1 {
font-size: 72px;
color: white !important;
}

h1 {
font-size: 50px;
color: red !important;
}


.content {
background-color: #A9A9A9;
padding: 20px 5px 20px 5px;
margin-top: 30px;
margin-bottom: 30px;
border: 5px dashed #333333;
position: absolute;
top: 300px;
right: 100px;
}

.content {
padding: 30px;
margin: 20px;
}

p {
font-size: 24px;
line-height: 1.2;
margin: 5px;
text-align: justify;
text-align-last: center;
position: relative;
}

p {
font-size: 18px;
margin: 10px;
}

h2 {
color: #2F4F4F;
font-size: 48px;
text-decoration: underline overline;
letter-spacing: 10px;
position: absolute;
top: 600px;
left: 50px;
}

h2 {
font-size: 35px;
color: white;
}

h3 {
font-size: 40px;
position: absolute;
top: 100px;
right: 400px;
}

h4 {
font-size: 25px;
}

ul {
list-style-type: square;
background: #696969;
padding: 40px;
margin: 20px;
position: absolute;
top: 650px;
left: 50px;
}

ul {
padding: 20px;
margin: 15px;
}

li {
font-size: 30px;
color: #000000;
margin: 15px;
}

li {
font-size: 22px;
color: yellow;
}

.form-section {
background: #000000;
color: #ffffff;
padding: 30px;
margin: 50px 10px;
border: 15px double #808080;
position: absolute;
top: 900px;
left: 300px;
width: 400px;
height: 200px;
}

.form-section {
padding: 25px;
border: 10px solid blue;
}

input {
background: #555555;
color: #FFFFFF;
border: 3px solid #000000;
padding: 15px;
font-size: 20px;
width: 300px;
margin: 10px;
position: absolute;
}

input {
width: 250px;
height: 40px;
font-size: 16px;
}

input:focus {
background: #333333;
outline: none;
border: 5px solid #000000;
}

input:focus {
background: white;
color: black;
}

button {
background: #ff0000;
color: #ffffff;
border: none;
padding: 25px 50px;
font-size: 28px;
cursor: pointer;
border-radius: 0;
position: absolute;
}

button {
padding: 15px 30px;
font-size: 18px;
width: auto;
}

button:hover {
background: #333333;
color: #FFFFFF;
}

button:hover {
background: black;
}

#footer {
background: #000000;
color: #ffffff;
text-align: center;
padding: 20px;
margin-top: 100px;
position: absolute;
top: 1500px;
left: 500px;
}

#footer {
position: absolute;
top: 1500px;
left: 500px;
font-size: 16px;
padding: 15px;
}

div {
margin: 10px 5px 10px 5px;
position: absolute;
}

div {
margin: 15px;
padding: 10px;
border: 3px dotted green;
}

* {
box-sizing: border-box;
}

* {
margin: 0;
padding: 0;
}

/* Mer rotete styling */
.content p:first-child {
background: #808080;
padding: 50px;
}

.content p:first-child {
background: black;
padding: 15px;
font-size: 20px;
}

h1, h2, h3 {
font-weight: bold;
}

h1, h2, h3 {
font-weight: normal;
font-size: 30px;
}

/* Dette er en kommentar */

/* mer kommentarer */

p {
color: red;
}

div div div {
background: blue;
}

div div {
background: yellow;
}

div {
background: purple;
}
